<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <script type="text/javascript">
		let urlParams = new URLSearchParams(window.location.search);
		
		var asc = urlParams.get('asc') == null? 'false':urlParams.get('asc');
		var order = urlParams.get('order') == null? 'lastUpdateTime':urlParams.get('order');
		var page = urlParams.get('page') == null? '1': urlParams.get('page');
		
		function orderBy(newOrder) {
			
			var href = window.location.href + (window.location.search == ''? '?':''); // 因為一進sellgoods頁面並不帶任何url參數，若沒有則+一個?，以免跟pagination衝突
			var originOrderParam = '&order=' + order;
			var newOrderParam = '&order=' + newOrder;
			var originAscParam = '&asc=' + asc;
			if(order === newOrder) { // order不變，做升降序切換。
				var newAscParam = '&asc=' + (asc === 'false'? 'true':'false');
			} else { // order改變，升降序預設為降序
				var newAscParam = '&asc=false'
			}
			
			href = urlParams.get('order') == null? href + newOrderParam : href.replace(originOrderParam, newOrderParam);
			href = urlParams.get('asc') == null? href + newAscParam : href.replace(originAscParam, newAscParam);
			console.log(href);
			window.location = href;
		}
		
    	function getGoodsResult() {
    		var searchKeyword = document.getElementById('loginUsername').innerHTML;
    		var uri = '/search/goodsseller?sellerKeyword=' + searchKeyword + 
															 '&asc=' + asc + 
		   												   '&page=' + page + 
		 												 '&order=' + order;
    		
    		console.log('uri = ' + uri);
    		$.ajax({
    			type: "GET", 
    			url: uri, 
    			dataType: "json",
    			success: function(result) {
    				console.log(result.searchResult);
    				document.getElementById("summaryOfSearch").innerHTML = '您的商品共有' + result.totalSearchResult + '筆';
    				for(var i = 0; i < result.searchResult.length; i++) {
    					
    					document.getElementById('goodsList').innerHTML += 
    						'<tr>' +
                            	'<td>' + result.searchResult[i].name + '</td>' +
                                '<td>' + result.searchResult[i].price + '</td>' +
                                '<td>' + result.searchResult[i].inventories + '</td>' +
                                '<td><a href="goodsdetail?id=' + result.searchResult[i].id + '">詳細頁面</a></td>' +
                                '<td>' + result.searchResult[i].lastUpdateTime + '</td>' +
                                '<td>' +
	                            	'<button><a href="/updategoods?id=' + result.searchResult[i].id + '">更新</a></button>' +
	                            	'<button style="color: red" onclick="deleteGoods(' + result.searchResult[i].id + ')">下架</button>' +
                            	'</td>' +
                            '</tr>';
    				}
    				for(var i = 0; i < (result.totalSearchResult / 6); i ++) { // to produce the pagination item according to the totalSearchResult
    					var href = window.location.href + (window.location.search == ''? '?':''); // // 因為一進sellgoods頁面並不帶任何url參數，若沒有則+一個?，以免跟order衝突
    					var originPageParam = '&page=' + page;
    					var newPageParam = '&page=' + (i+1);
    					var wetherActive = page == (i+1)? "active":""
    					
    					// 因為最初跳轉至searchResult頁面並無帶page參數
    					href = urlParams.get('page') == null? href + newPageParam : href.replace(originPageParam, newPageParam);
    					
    					document.getElementById('pagination').innerHTML +=
    							'<li class="page-item ' + wetherActive + '"><a class="page-link" href=' + href + '>' + (i+1) + '</a></li>';
    				}
    			}, 
    			error: function() {
    				alert("fail");
    			}
    		});
    	}
    	
    	function deleteGoods(id) {
    		
    		var uri = '/goods/' + id;
    		
    		$.ajax({
    			type: "DELETE", 
    			url: uri, 
    			dataType: "json",
    			contentType : 'application/json; charset=utf-8',
    			success: function(result) {
    				alert(result.message);
    				window.location = 'sellgoods';
    			}, 
    			error: function() {
    				alert("fail");
    			}
    		});
    	}
    	
    	function switchOrderIcon() {
    		var node = document.getElementById(order);
    		var arrow = asc === 'false'? 'down':'up';
    		console.log(node.className);
    		node.className = 'btn btn-primary btn-icon-split';
    		
    		node.innerHTML += '<span class="icon text-white-50"><i class="fas fa-arrow-' + arrow + '"></i></span>';
    	}
    </script>

</head>

<body id="page-top" onload="getGoodsResult(); switchOrderIcon();">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Welcome</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Login/Logout button -->
            <li class="nav-item" th:if="${loginUsername == 'anonymousUser'}">
            	<span class="nav-link">歡迎光臨!  訪客</span>
            	<hr class="sidebar-divider">
	            <div class="sidebar-heading">
	                會員
	            </div>
                <a class="nav-link" href="/login">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>登入</span></a>
                <a class="nav-link" href="/register">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>註冊</span></a>
            </li>
            <li class="nav-item" th:if="${loginUsername != 'anonymousUser'}">
            	<span class="nav-link" th:text="'歡迎光臨!  ' + ${loginUsername}"></span>
            	<hr class="sidebar-divider">
	            <div class="sidebar-heading">
	                會員
	            </div>
                <a class="nav-link" href="/userarea">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>會員專區</span></a>
                <a class="nav-link" href="/logout">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>登出</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                買東西
            </div>

            <!-- Nav Item - cart -->
            <li class="nav-item">
                <a class="nav-link" href="/showcart">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>查看購物車</span>
                </a>
            </li>

            <!-- Nav Item - order as buyer -->
            <li class="nav-item">
                <a class="nav-link" href="/showorderofbuyer">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>查看訂單</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                賣東西
            </div>

            <!-- Nav Item - cart -->
            <li class="nav-item">
                <a class="nav-link" href="/sellgoods">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>管理賣場</span>
                </a>
            </li>

            <!-- Nav Item - order as buyer -->
            <li class="nav-item">
                <a class="nav-link" href="/showorderofseller">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>查看訂單</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" id="searchKeyword" name="searchKeyword">
                            <div class="input-group-append">
                                <select class="form-control bg-light small" id="searchBy" name="searchBy">
                            		<option value="goods">商品標題</option>
                            		<option value="seller">商品賣家</option>
                            	</select>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                    
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="loginUsername" class="mr-2 d-none d-lg-inline text-gray-600 small" th:if="${loginUsername != 'anonymousUser'}" th:text="${loginUsername}"></span>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:if="${loginUsername == 'anonymousUser'}" th:text="訪客"></span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" th:if="${loginUsername != 'anonymousUser'}"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/userarea">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    個人資訊
                                </a>
                                <a class="dropdown-item" href="/showcart">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    查看購物車
                                </a>
                                <a class="dropdown-item" href="/sellgoods">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    管理賣場
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    登出
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <span class="h3 mb-0 text-gray-800" id="summaryOfSearch"></span>
                        <div class="row">
                        	<a class="btn btn-secondary btn-icon-split" id="lastUpdateTime" onclick="orderBy('lastUpdateTime');">
                                <span class="text">更新時間</span>
                            </a>
                            <a class="btn btn-secondary btn-icon-split" id="price" onclick="orderBy('price');">
                                <span class="text">價格</span>
                            </a>
                        </div>
                    </div>
                
                <!-- /.container-fluid -->

	                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        	<a href="/postgoods" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">上架新商品</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>名稱</th>
                                            <th>單價</th>
                                            <th>庫存</th>
                                            <th>詳細頁面</th>
                                            <th>更新時間</th>
                                            <th>動作</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>名稱</th>
                                            <th>單價</th>
                                            <th>庫存</th>
                                            <th>詳細頁面</th>
                                            <th>更新時間</th>
                                            <th>動作</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="goodsList">
                                    </tbody>
                                </table>
                            </div>
                            <div>
			                	<ul class="pagination" id="pagination">
			                	</ul>
	                		</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>