<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <style type="text/css">
	    .frame {  
	    height: 180px; /*can be anything*/
	    width: 300px; /*can be anything*/
	    left: 10px;
	    position: relative;
	    border-style: solid;
	    border-color: gray;
	    border-width: 1px;
		}
		
		.goodsimg {
		    max-height: 100%;  
		    max-width: 100%; 
		    width: auto;
		    height: auto;
		    position: absolute;  
		    top: 0;  
		    bottom: 0;  
		    left: 0;  
		    right: 0;  
		    margin: auto;
		}
		
		#popup {
			display: none;
	        position: fixed;
			top: 20%;
	        height:60%;
	        width:35%;
	        background: white;
	        margin: 0 auto;
		}
		
		#over {  
	        width: 100%;  
	        opacity:0.99;/*設定背景色透明度,1為完全不透明,IE需要使用filter:alpha(opacity=80);*/  
	        filter:alpha(opacity=80);  
	        display: none;  
	        position:absolute;  
	        top:0;  
	        left:0;  
	        z-index:2;  
	        background: gray;  
    	}
    </style>
    
    <script type="text/javascript">
    	function caculate(id, price, input) {
    		
    		var quantity = parseInt(input.value,10);
    		var r = /^[0-9]*[1-9][0-9]*$/;
    		var inventories = document.getElementById('inventories_' + id).innerHTML.split(': ')[1];
    		
    		if (!r.test(quantity)) {
    			alert("商品數量異常");
    			return;
    		} else if (quantity > inventories) {
    			alert("不可超過庫存");
    			input.value = inventories;
    			input.focus();
    			return;
    		}
    		
    		var originSubtotal = document.getElementById("subtotal_" + id).innerHTML;
    		var newSubtotal = price * quantity;
    		var total = document.getElementById('total').innerHTML;
    		
    		total = total - originSubtotal + newSubtotal;
    		
    		document.getElementById("subtotal_" + id).innerHTML = newSubtotal;
    		document.getElementById("total").innerHTML = total;
    	}
    	
    	function submitOrder() {
    		
    		var cart = [];
    		
    		for (var i = 0; i < document.getElementsByClassName('col').length; i++) {
    			var item = {
    					"goodsId": document.getElementsByClassName('col')[i].getElementsByTagName("input")[0].value, 
    					"quantity": document.getElementsByClassName('col')[i].getElementsByTagName("input")[1].value
    			};
    			cart.push(item);
    		}
    		
    		$.ajax({
    			type: "POST", 
    			url: "/orders/", 
    			dataType: "json",
    			contentType : 'application/json; charset=utf-8',
    			data: JSON.stringify(cart),
    			success: function(result) {
    				document.getElementById('sumbitMessage').innerHTML = result.message;
    				popup();
    			}, 
    			error: function(result) {
    				console.log(result);
    				alert("fail");
    			}
    		});
    	}
    	
    	function popup() {
    		
    		document.getElementById("over").style.display = "block";
    		document.getElementById("popup").style.display = "block";
    		document.getElementById("over").style.height = document.body.scrollHeight + "px";
			document.getElementById("popup").style.left = (document.body.scrollWidth-document.getElementById("popup").scrollWidth)/2+"px";
    	}
    	
		function hide() {
    		
    		document.getElementById("popup").style.display = "none";
    	}
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Welcome</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Login/Logout button -->
            <li class="nav-item" th:if="${loginUsername == 'anonymousUser'}">
            	<span class="nav-link">歡迎光臨!  訪客</span>
            	<hr class="sidebar-divider">
	            <div class="sidebar-heading">
	                會員
	            </div>
                <a class="nav-link" href="/login">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>登入</span></a>
                <a class="nav-link" href="/register">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>註冊</span></a>
            </li>
            <li class="nav-item" th:if="${loginUsername != 'anonymousUser'}">
            	<span class="nav-link" th:text="'歡迎光臨!  ' + ${loginUsername}"></span>
            	<hr class="sidebar-divider">
	            <div class="sidebar-heading">
	                會員
	            </div>
                <a class="nav-link" href="/userarea">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>會員專區</span></a>
                <a class="nav-link" href="/logout">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>登出</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                買東西
            </div>

            <!-- Nav Item - cart -->
            <li class="nav-item">
                <a class="nav-link" href="/showcart">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>查看購物車</span>
                </a>
            </li>

            <!-- Nav Item - order as buyer -->
            <li class="nav-item">
                <a class="nav-link" href="/showorderofbuyer">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>查看訂單</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                賣東西
            </div>

            <!-- Nav Item - cart -->
            <li class="nav-item">
                <a class="nav-link" href="/sellgoods">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>管理賣場</span>
                </a>
            </li>

            <!-- Nav Item - order as buyer -->
            <li class="nav-item">
                <a class="nav-link" href="/showorderofseller">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>查看訂單</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" id="searchKeyword" name="searchKeyword">
                            <div class="input-group-append">
                                <select class="form-control bg-light small" id="searchBy" name="searchBy">
                            		<option value="goods">商品標題</option>
                            		<option value="seller">商品賣家</option>
                            	</select>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                    
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:if="${loginUsername != 'anonymousUser'}" th:text="${loginUsername}"></span>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:if="${loginUsername == 'anonymousUser'}" th:text="訪客"></span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" th:if="${loginUsername != 'anonymousUser'}"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/userarea">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    個人資訊
                                </a>
                                <a class="dropdown-item" href="/showcart">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    查看購物車
                                </a>
                                <a class="dropdown-item" href="/sellgoods">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    管理賣場
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    登出
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    	<h1 class="h3 mb-0 text-gray-800">您的購物車: 
                        <input type="hidden" id="cartLength" th:value="${#lists.size(cart)}">
                        </h1>
                        <h6>*對於不同賣家的商品，系統將會自動幫您分為不同訂單</h6>
                    </div>
                    <div class="row">
                    	
						<div class="col-lg-4" th:each="item, itemStat : ${cart}">
							<div class="card mb-4 border-bottom-primary">
								<div class="card-header py-3">
	                				<h5 class="m-0 font-weight-bold text-primary"  style="white-space: nowrap; text-overflow:ellipsis; word-break:break-ll; overflow:hidden;">
	                				<span id="name" th:text="${item.goods.name}">
	                				</span>
	                				</h5>
	                				<span th:text="'賣家: ' + ${item.goods.user.username}">
	                				</span>
	                			</div>
								<div class="card-body row">
									
									<div class="frame">
										<a th:href="'/goodsdetail?id=' + ${item.goods.id}">
											<img class="goodsimg" th:src="'dynamic/images/' + ${item.goods.image}">
										</a>
									</div>
									
									<div class="col" th:id="${itemStat.index}" style="left: 10px; width: 50px;">
										<input type="hidden" name="goodsId" th:value="${item.goods.id}">
										<h5 style="white-space: nowrap; text-overflow:ellipsis; word-break:break-ll; overflow:hidden;" th:text="'單價: ' + ${item.goods.price}"></h5>
										<h5 style="white-space: nowrap; text-overflow:ellipsis; word-break:break-ll; overflow:hidden;" th:text="'庫存: ' + ${item.goods.inventories}" th:id="'inventories_' + ${item.goods.id}"></h5>
										<h5>數量: 
										<input type="number" style="width: 50px;" min="1" th:max="${item.goods.inventories}" name="quantity" th:value="${item.quantity}" th:onblur="'caculate(' + ${item.goods.id} + ', ' + ${item.goods.price} + ', this)'">
										</h5>
										<a th:href="'remove?id=' + ${item.goods.id}" class="btn btn-danger btn-sm">
		                					<span class="icon text-white-50">
                                            	<i class="fas fa-trash"></i>
                                        	</span>
		                				</a>
									</div>
								</div>
								<hr>

								
								<div style="text-align:right; padding-right: 10px; padding-left: 10px;">
									<span class="h5">小計: </span>
									<span class="h5" style="color: red;" th:id="'subtotal_' + ${item.goods.id}" th:text="${item.goods.price} * ${item.quantity}">
									</span>
									
								</div>
							</div>
						</div>
						
					</div>
					<hr>
					<div style="float: right; padding-bottom: 20px;">
						<span class="h4">總計: </span>
						<span class="h4" style="color: red;" th:text="${total}" id="total"></span>
						<hr>
						<a type="button" class="btn btn-success btn-icon-split" style="float: right;" onclick="submitOrder()">
		                	<span class="icon text-white-50">
		                    	<i class="fas fa-check"></i>
		                    </span>
		                    <span class="text">提交訂單</span>
                        </a>
                        <!--
	                	<a href="#myPopup" class="btn btn-success btn-icon-split" style="float: right;" onclick="popup()">
		                	<span class="icon text-white-50">
		                    	<i class="fas fa-check"></i>
		                    </span>
		                    <span class="text">彈出視窗test</span>
                        </a>
                        -->
					</div>
					
                </div>
                
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div id="over">
    <div id="popup" class="card mb-4 border-bottom-primary">
    	<div class="card-header py-3 h5" style="text-align: center;">For Your Message</div>
    	<div style="margin: auto; text-align: center;">
    	<textarea rows="18" style="margin-top: 10px; resize: none; width: 100%; border: none;" readonly="readonly" id="sumbitMessage"></textarea>
    	</div>
    	<div style="text-align: center;">
		<a class="btn btn-success btn-icon-split" href="/ordersubmit">
			<span class="icon text-white-50">
			<i class="fas fa-check"></i>
			</span>
			<span class="text">確認</span>
		</a>
		</div>
	</div>
	</div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>